<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.ui.menus">
	<menuContribution
		locationURI="popup:org.eclipse.ui.popup.any?after=additions">
		<dynamic 
			id="com.eclipse.johnfreier.compareit.popup.actions.menuitem"
			class="com.eclipse.johnfreier.compareit.popup.actions.CompareItCompoundContributionItem">
		</dynamic>
	</menuContribution> 
</extension>
<extension point="org.eclipse.ui.commands">
	<command
		id="com.eclipse.johnfreier.compareit.popup.actions.myCommand"
		name="compareItCommand">
     </command>
</extension>
<extension point="org.eclipse.ui.handlers">
	<handler
		commandId="com.eclipse.johnfreier.compareit.popup.actions.myCommand"
		class="com.eclipse.johnfreier.compareit.popup.actions.CompareItAction">
	</handler>
</extension>
</plugin>
