<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.ui.menus">
	<menuContribution
         locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.ui.articles.action.contribution.editor.compareit.copy"
               label="Compare text #1">
         </command>
	</menuContribution> 
</extension>
<extension point="org.eclipse.ui.handlers">
  <handler
        class="com.eclipse.johnfreier.compareit.popup.actions.CompareItAction"
        commandId="org.eclipse.ui.articles.action.contribution.editor.compareit.copy">
  </handler>
</extension>
</plugin>
